<h2>Product Search Results</h2>

<% if @results.present? %>
  <% if @products.present? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No products found.</p>
  <% end %>
<% else %>
  <p>Please enter a search query.</p>
<% end %>
