<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<!--TO DO: make a partial form "users/photos_tab" and center it-->
    <% @user.own_reviews.each do |review| %>
    <!--if current user, then show all their reviews-->
      <% if (@user == current_user) %>
        <!--make sure it's also published-->
        <% if review.published? %>
          <div class="col mb-4">
            <%= render review, user: current_user %>
          </div>
        <% end %>

      <!--if not current user, only show reviews that are visible to everyone or user is following review's owner and it's not set to only_me-->
      <% elsif (review.visibility != 'only_me' && review.owner.followers.include?(current_user)) || (review.visibility == 'everyone') %>
        <% if review.published? %>
          <div class="col mb-4">
            <%= render review, user: current_user %>
          </div>
        <% end %>
      <% end %>

    <% end %>
