<h1>Reviews</h1>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3">

   <!-- <div id="reviews">-->
    <% @reviews.each_slice(3) do |review_group| %>
      <% @reviews.each do |review| %>
        <!--Only show if review is published, user is not review' owner, or if the review is not set to only me and user is following the review's owner-->
        <% if (review.published?) && (review.owner != current_user) && (review.visibility != 'only_me' && review.owner.followers.include?(current_user)) %>
          <div class="col mb-4">
            <%= render review, user: current_user %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <!--</div>-->

  </div>
</div>
