<%= link_to "Back to reviews", reviews_path %>

<%= render @review, user: current_user %>

<div>
  <% if current_user == @review.owner %>
    <%= link_to "Edit this review", edit_review_path(@review, product_name: @review.product.name) %>
    <%= button_to "Destroy this review", @review, method: :delete %>
  <% end %>
</div>
